<header class="header">

  <ul class="list">
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">پرواز داخلی</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">پرواز خارجی</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">قطار</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">اتوبوس</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">تور</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__link--icon icon-basic-world"></i>
        <div class="list__link--flag">هتل</div>
      </a>
    </li>
  </ul>

  <form class="form" action="">

    <h2 class="head">پرواز داخلی</h2>
    <div class="section">
      <mat-form-field class="section__field">
        <input matInput placeholder="مبدا" value="">
      </mat-form-field>

      <i class="icon-basic-world section__icon"></i>

      <mat-form-field class="section__field">
        <input matInput placeholder="مقصد" value="">
      </mat-form-field>
    </div>

    <div class="section">

      <!-- <mat-form-field class="section__field">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="section__field">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

    </div>

  </form>

</header>
