// -------------------------
// colors
// -------------------------
$color-gradient-1: #8360c3;
$color-gradient-2: #2ebf91;

$color-primary-light: #6bb9ee;
$color-primary: #1f95e5;
$color-primary-dark: #12659d;


$color-btn-light: #f4bb53;
$color-btn: #f0a213;
$color-btn-dark: #b4780b;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horisontal: 6rem;