<nav class="navigation">

  <div class="logo">
    <img class="logo__img" src="../../assets/logo.svg" alt="">
    <img class="logo__head" src="../../assets/alibaba.svg" alt="">
    <div class="logo__description">خرید بلیط هواپیما قطار و اتوبوس</div>
  </div>


  <ul class="list">
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__item--icon icon-basic-world"></i>
        <div class="list__item--flag">هواپیما</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__item--icon icon-basic-world"></i>
        <div class="list__item--flag">قطار</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__item--icon icon-basic-world"></i>
        <div class="list__item--flag">اتوبوس</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__item--icon icon-basic-world"></i>
        <div class="list__item--flag">تور</div>
      </a>
    </li>
    <li class="list__item">
      <a href="" class="list__link">
        <i class="list__item--icon icon-basic-world"></i>
        <div class="list__item--flag">هتل</div>
      </a>
    </li>
  </ul>


  <div class="drop">
    <a class="container">
      <div class="drop__flag--1">تماس با ما<br>021 - 43900000</div>
      <i class="drop__icon icon-basic-world"></i>
      <div class="drop__arrow">&#8249;</div>
    </a>
  </div>

  <div class="drop">
    <a class="container">
      <div class="drop__flag--2">ورود - ثبت نام</div>
      <i class="drop__icon icon-basic-world"></i>
      <div class="drop__arrow">&#8249;</div>
    </a>
  </div>

</nav>
